{% extends "shell.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    Hi, logged in as <b>{{user}}</b>
    <form action="/logout" method="POST"><!--Provides option to log out-->
        <input type="submit" value="Logout">
    </form>

    <br><!--If input criteria aren't fullfilled, flashes error messages -->
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      <b>{{each}}</b>

    {% endfor %}

    <br>
    <br>

    <form action="/add" method="POST"><!--Provides option to make new story -->
        <input type="submit" value="Add a new story">
    </form>
    <br>

    <table border = "1"><!--Organizes all stories made on website-->
        <tr>
            <th> Story Title </th>
            <th> Author </th>
            <th> Action </th>
        </tr>

        {% for story in stories %}<!--For every story, checks if user already edited once. If so, changes edit button to view -->
            <tr>
                <td>{{story[1]}}</td>
                <td>{{story[3]}}</td>
                <td>
                {% if story[2] %}
                <form action="/view" method="POST">
                    <button type="submit" name="sid" value={{story[0]}}>View Story</button>
                </form>
                {% else %}
                <form action="/edit" method="POST">
                    <button type="submit" name="sid" value={{story[0]}}>Add to story</button>
                </form>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>

{% endblock %}
