{% extends "shell.html" %}

{% block head %}
<title> Home </title>
{% endblock %}

{% block content %}
    HI, logged in as {{user}}
    <br>
    <br>
    <form action="/add">
        <input type="submit" value="Add new story">
    </form>
    <br>
    <form action="/view">
        <input type="submit" value="View story">
    </form>
    <br>
    <form action="/edit">
        <input type="submit" value="Edit story">
    </form>
    <br>
    <form action="/logout">
        <input type="submit" value="Logout">
    </form>
{% endblock %}
