{% extends "shell.html" %}

{% block title %} Login {% endblock %}

{% block content %}<!--Flashes errors if user/pass are wrong or blank -->

    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      {{each}}

    {% endfor %}

    <form action="/auth" method="POST"><!--Able to login by submitting existing user/pass or make new account by pressing "register"-->

      Username:  <input type="text" name="user">
      <br>
      Password:  <input type="password" name="password">
      <br>
      <input type="submit" value="Login">
      <br>
      <br>
      No account? Register <a href="/register">here</a>

{% endblock %}
