{% extends "shell.html" %}

{% block head %}
<title> Register </title>
{% endblock %}

{% block content %}

    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      {{each}}

    {% endfor %}

    <form action="/adduser" method="POST">

        Username:  <input type="text" name="user">
        <br>
        Password:  <input type="password" name="password">
        <br>
        Confirm Password:  <input type="password" name="confirm_password">
        <br>
        <input type="submit" value="Register">

    </form>
{% endblock %}
