{% extends "shell.html" %}

{% block title %} {{story_title}} {% endblock %}

{% block content %}
<h2> {{story_title}} </h2> <i>created by {{author}}</i>
<br>
<br>

<table>
    <tr>
        <th> Entry Number</th>
        <th> Content </th>
        <th> Added by </th>
        <th> Timestamp </th>
    </tr>
{% for entry in list %}

    <tr>
    	<td> {{entry[0]}} </td>
    	<td> {{entry[1]}} </td>
    	<td> {{entry[2]}} </td> 
    </tr>

{% endfor %}
</table>
<a href='/home'>back to home</a>


{% endblock %}
