{% extends "shell.html" %}

{% block title %} {{story_title}} {% endblock %}<!--replaced by story_title input from add.html -->

{% block content %}

<h2> {{story_title}} </h2> <i>created by {{author}}</i><!-- author is the user who first created story -->
<br>
<br>

<table border="1"><!--Organizes info about edits made into categories-->
    <tr>
        <th> Added by </th>
        <th> Content </th>
    </tr>
{% for entry in list %}<!--Takes info about edits from database-->

    <tr>
        <td> {{entry[2]}} </td>
    	<td> {{entry[1]}} </td>
    </tr>

{% endfor %}
</table>

<br>
<br>
<br>
<a href='/home'>back to home</a>


{% endblock %}
